.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

.foot {
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  align-items: center;
}
.main-title {
  font-size: 3em;
  color: midnightblue;
  text-align: center;
}
