body, html {
    background-image: radial-gradient(circle, rgb(85, 199, 32), rgb(0, 102, 26));
    /* height: 100%; */
}


.table-background {
    
    /* background-size: cover; */
    height: 100%;
    
}

.topbar {
    display: flex;
    justify-content: space-between;
}

.table-container--top {
    border: black 1px solid;
    height: 200px;
}

.table-container--mid {
    border: black 1px solid;
    height: 250px;
    display: flex;
    position:relative;
    justify-content: space-evenly;

}
.mid--deck {
    /* left: 50%; */
    display: flex;
    align-items: center;
}

.mid--pot {
    right: 50%
}
#pot {
    height: 165px;
    width: 165px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}
.table-container--bottom {
    border: black 1px solid;
    height: 310px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
}
.container--playerHand {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}