body,
html {
  background-image: radial-gradient(circle, rgb(85, 199, 32), rgb(0, 102, 26));
  /* height: 100%; */
}

.table-background {
  /* background-size: cover; */
  height: 100%;
}

.topbar {
  display: flex;
  justify-content: flex-end;
}

.table-container--top {
  /* border: black 1px solid; */
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table-container--mid {
  /* border: black 1px solid; */
  height: 250px;
  display: flex;
  position: relative;
  justify-content: space-evenly;
}
.table-container--mid img {
  height: 100px;
  width: auto;
}
.mid--deck {
  display: flex;
  align-items: center;
}

.spacer {
  width: 300px;
}

.mid--pot {
  display: flex;
  align-items: center;
}

.table-container--bottom {
  /* border: black 1px solid; */
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container--playerHand {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-evenly;
}

.bottombar {
  display: flex;
  justify-content: flex-start;
}
.bottombar img {
  height: 70px;
  width: auto;
}

@media only screen and (max-width: 500px) {
  .table-container--top {
    height: 200px;
  }
  .table-container--mid {
    height: 150px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .table-container--mid img {
    height: auto;
    width: 100px;
    margin: 1em;
  }
  .mid--deck {
    flex-direction: column;
    justify-content: center;
  }

  .container--playerHand {
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-evenly;
  }
  .topbar {
    height: 50px;
  }
  h2 {
    font-size: large;
  }
}
