form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: aliceblue;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  max-width: 600px;
  min-height: 300px;
  border-radius: 20px;
}

input {
  font-family: 'Press Start 2P', cursive;
  font-size: medium;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  background-color: transparent;
  border-color: aliceblue;
}

@media only screen and (max-width: 500px) {
  .form-wrapper {
    min-height: fit-content;
    max-width: 250px;
  }
  form {
    font-size: small;
  }
  input {
    font-size: small;
    max-width: 220px;
  }
}
