.button {
  font-family: 'Press Start 2P', cursive;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  position: relative;
  width: 180px;
  height: 60px;
  color: #fff;
  text-decoration: none;
  padding: 150px 20px;
  text-transform: uppercase;
  transition: 0.2s;
}
.button--primary {
  color: white;
  background-color: #1ea7fd;
}
.button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.button--pixel {
  background-color: black;
  background: var(--inner);
  box-shadow:
      0   -6px 0  -2px var(--inner),
      0    6px 0  -2px var(--inner),
      0  -12px 0  -4px var(--inner),
      0   12px 0  -4px var(--inner),
      0  -18px 0  -8px var(--inner),
      0   18px 0  -8px var(--inner),
      0  -24px 0 -12px var(--inner),
      0   24px 0 -12px var(--inner),
     -6px  0   0   0   var(--border),
      6px  0   0   0   var(--border),
      0    0   0   4px var(--border),
      0   -6px 0   2px var(--border),
      0    6px 0   2px var(--border),
      0  -10px 0   0   var(--border),
      0   10px 0   0   var(--border),
      0  -14px 0  -2px var(--border),
      0   14px 0  -2px var(--border),
      0  -18px 0  -4px var(--border),
      0   18px 0  -4px var(--border),
      0  -24px 0  -8px var(--border),
      0   24px 0  -8px var(--border),
      0  -30px 0 -12px var(--border),
      0   30px 0 -12px var(--border);
}

.button--pixel:hover {
  background: rgb(114 13 236) url(../../assets/pixel2.png);
  background-size: 200px;
  transition-delay: 1s;
  padding: 20px 15px;
  animation: pixel 1s steps(8) forwards;
}
@keyframes pixel {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: -540px;
  }
}

.button--tiny {
  font-size: 12px;
  width: 100px;
  padding: 10px 16px;
  margin: 6px;
}

.button--small {
  font-size: 12px;
  width: 100px;
  padding: 10px 16px;
  margin: 6px;
}
.button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.button--large {
  font-size: 16px;
  padding: 12px 24px;
}

@media only screen and (max-width: 500px) {
  .button {
    width: 130px;
    height: 50px;
    margin: 6px;
  }

  .button--tiny {
    font-size: 10px;
    height: 30px;
    width: 80px;
    padding: 5px 8px;
    margin: 3px;
  }
}
